* {
  text-align: center;
  font-size: large;
}

.btn {
  position: absolute;
  right: 29%;
  bottom: 10px;
}

.BigDiv {
  background-image: url("./assets/newBG.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1500px;
}

.Projects {
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Projects > div {
  margin: 25px;
}

.card-body {
  min-height: 250px;
}

.navbar {
  max-width: fit-content;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 25px;
  background-color: darkslategrey;
}

.navbar-nav {
  text-align: center;
}

.Intro {
  color: #fff;
  margin-top: 50px;
  max-width: 650px;
  display: block;
  border-radius: 25px;
  background-color: darkslategray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: darkslategrey;
  border-style: outset;
}
