.App {
  text-align: center;
}

.SrcCode {
  width: min-content;
  margin:0 auto;
  display: block;
}

.BigDiv {
    background-image: url("./assets/newBG.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1500px;
}

.navbar {
  max-width: fit-content;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 25px;
  background-color: darkslategrey;
}

.navbar-nav {
  text-align: center;
}

/* .Carousel {
  background-color: transparent;
  min-height: 650px;
  max-width: 700px;
  margin: 0 auto;
}

.carousel-control-prev , .carousel-control-next {
  height: 77%;
}

.carousel-inner {
  background-color: darkslategrey;
  display: block;
  width: 100%;
} */

img {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: darkslategrey;
  border-style: outset;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-pic {
  margin: 20px 0;
  max-width: 200px;
  border-radius: 50%; */ 