.App {
  text-align: center;
}

.Avatar {
  height: 200px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-image: radial-gradient(grey, darkslategrey );
  /* background-image: url("forest.jpg"); */
  width: 1000x;
}

.carousel-inner {
  background-color: darkslategrey;
}

img {
  border: blue;
  border-style: outset;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-pic {
  margin: 20px 0;
  max-width: 200px;
  border-radius: 50%; */ 